In [4]:
# Tipagem

x = 8
y = "InfNet"
Y = 'Dácio Souza'
w = 3.14
z = [5, 14.3, "Python"]
variavel = (True, 3-5j)

print(type(x))
print(type(y))
print(type(Y))
print(type(w))
print(type(z))
print(type(variavel))
print(type(variavel[0]))
print(type(variavel[1]))

# Sobrescrevendo a variável
w = 3 
print(type(w))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'complex'>
<class 'int'>

In [5]:
# Casting

a = str(3)
b = int(-3)
c = float(3)
d = int(3.14)

print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

3
<class 'str'>
-3
<class 'int'>
3.0
<class 'float'>
3
<class 'int'>

In [7]:
# declaração multipla

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [8]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [9]:
# desempacotando

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [11]:
# Exibindo variáveis
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z, sep = ' ') # sep é o separador

Python is awesome

In [15]:
# Concatenação

x = "Python"
y = "é"
z = "incrivel!"
print(x + y + z)

Pythonéincrivel!

In [16]:
# Operação matemática
x = 5
y = 10
print(x + y)

15

In [17]:
# Operação matemática
x = 5
y = 10
z = x + y
print(z)

15

In [19]:
# This is a comment

print("Hello, World!")


print("Hello, World!") # This is a comment
# print("Hello, World")

''' Isto é 
um bloco de 
comentários 
'''

"""
Isto também é! 
Identados eles podem ser uma DocString
"""

Hello, World!
Hello, World!

'\nIsto também é! \nIdentados eles podem ser uma DocString\n'

In [30]:
 # Operadores aritméticos
a = 5
b = 3
soma = a+b # 8
diferenca = a - b # 2
produto = a * b # 15
divisao = a / b # 1.666...
divisao_inteira = a // b # 1
resto = a % b # 2
potencia = a ** b  # 125

### Atividade (20 min)
 • Utilizar operadores aritméticos para criar um 
programa em Python que calcule e informe 
quantos dias, semanas, horas,minutos e 
segundos tem esse curso.
 • Dados:
 o São 11 semanas de curso.
 o 2 aulaspor semana.
 o Cada aula 2horas e meia.
 o Sendo que 1 feriado cai na sexta-feira.

In [5]:
# Dados fornecidos
semanas_de_curso = 11  # duração do curso em semanas
aulas_por_semana = 2  # número de aulas por semana
horas_por_aula = 2.5  # duração de cada aula em horas
feriados = 1  # número de feriados

# Calculando o total de aulas (sem contar o feriado)
total_aulas = (semanas_de_curso * aulas_por_semana) - feriados

# Calculando o total de horas
total_horas = total_aulas * horas_por_aula

# Calculando o total de minutos
total_minutos = total_horas * 60

# Calculando o total de segundos
total_segundos = total_minutos * 60

# Calculando total de semanas (já é dado)
total_semanas = semanas_de_curso

# Calculando o total de dias (considerando 7 dias por semana)
total_dias = total_semanas * 7

print(f"Total de semanas: {total_semanas} semanas")
print(f"Total de dias: {total_dias} dias")
print(f"Total de aulas: {total_aulas} aulas")
print(f"Total de horas: {total_horas} horas")
print(f"Total de minutos: {total_minutos} minutos")
print(f"Total de segundos: {total_segundos} segundos")

Total de semanas: 11 semanas
Total de dias: 77 dias
Total de aulas: 21 aulas
Total de horas: 52.5 horas
Total de minutos: 3150.0 minutos
Total de segundos: 189000.0 segundos

In [31]:
# Operador + como combinação (adição) de strings

nome = "Dácio"
sobrenome = "Souza"
nome_completo = nome + " " + sobrenome # Dácio Souza
print(nome_completo)
print(nome, sobrenome)
print(nome + " " + sobrenome)

Dácio Souza
Dácio Souza
Dácio Souza

In [ ]:
# Formatação de Strings

print("%s %s" % (nome, sobrenome)) # place mark de strings
print("{} {}".format(nome, sobrenome))
print(f"{nome} {sobrenome}")

Dácio Souza
Dácio Souza
Dácio Souza

In [33]:
print(f"O nome maiúsculo do prof é {nome.upper()} e o sobrenome é {sobrenome}. Tchau!")

O nome maiúsculo do prof é DÁCIO e o sobrenome é Souza. Tchau!

In [2]:
# Predeceção
print((6 + 3) - (6 + 3))
print(100 + 5 * 3)

0
115

In [3]:
# interação com o usuário
primeiro_nome = input("Digite o primeiro nome: ")
segundo_nome = input("Digite o segundo nome: ")
nome_combinado = primeiro_nome + " " + segundo_nome
print("Nome combinado: ", nome_combinado)

Nome combinado:  Rafaela Silva

In [ ]:
input("Digite a alternativa escolhida: ").lower()

In [4]:
# estrutura if

a = 33
b = 200

if b > a:
  print("b is greater than a")

if a > b: print("a is greater than b")

a = 300
b = 33
c = 500

if a > b and c > a:
  print("Both conditions are True")

if a > b or a > c:
  print("At least one of the conditions is True")

if not a > b:
  print("a is NOT greater than b")

b is greater than a
Both conditions are True
At least one of the conditions is True